@@ -0,0 +1,31 @@
/target/
!.mvn/wrapper/maven-wrapper.jar

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### Java template
*.class

.classpath

*.log

# Package Files #
*.jar
*.war
*.ear

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
## Additional for IntelliJ
out/